* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    max-width: 450px;
    margin: 0 auto;
    background-color: darkslategrey;
    color: white;
}

button {
    padding: 0.75rem 1.25rem;
    border: none;
    background-color: rgb(55, 104, 104);
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    color: white;
    border-radius: 10px;
    &:disabled {
        background-color: grey;
        color: rgb(81, 81, 81);
    }
}

#exercise-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 1rem;
    .category {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        .category-group {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            gap: 0.5rem;
            .exercise {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 85px;
                padding: 1.25rem 0.75rem;
                // padding: 1rem 1.5rem;
                background-color: rgb(55, 104, 104);
                border-radius: 10px;
                box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
                &.complete {
                    background-color: rgb(47, 89, 89);
                }
            }
        }
    }
}

#add-menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    padding-block: 2rem;
    max-width: 80%;
    margin: 0 auto;
    #setInput {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem;
        .input-item {
            display: flex;
            flex-direction: column;
            width: 25%;
            justify-content: center;
            gap: 0.5rem;
            input {
                padding: 1rem;
                border: none;
                border-radius: 10px;
                background-color: rgb(55, 104, 104);
                box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.05);
                color: white;
                text-align: center;
            }
            .input-group {
                display: flex;
                gap: 4px;
                input {
                    width: 50%;
                }
            }
            &:last-of-type {
                width: 35%;
            }
        }
        button {
            margin-top: 1rem;
        }
    }
    #current-sets {
        display: flex;
        flex-direction: column;
        // gap: 0.5rem;
        background-color: rgb(55, 104, 104);
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.05);
        border-radius: 10px;
        .set-information {
            display: flex;
            // gap: 0.5rem;
            justify-content: center;
            div {
                width: 20%;
                padding: 0.75rem 0.5rem;
                &:last-of-type {
                    width: 40%;
                }
            }
        }
    }
    #add-menu-controls {
        display: flex;
        gap: 0.5rem;
        button {
            width: 100%;
        }
    }
    #past-sets-title {
        margin-top: 2rem;
    }
    #past-sets {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .past-set-item {
            padding: 1rem;
            background-color: rgb(55, 104, 104);
            box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.05);
            color: white;
            border-radius: 10px;
            position: relative;
            .set-date {
                margin-bottom: 0.5rem;
            }
            .set-information {
                display: flex;
                justify-content: center;
                margin-top: 0.25rem;
                div {
                    width: 20%;
                    padding: 0.75rem 0.5rem;
                    background-color: rgb(49, 100, 100);
                    border-radius: 10px;
                    &:last-of-type {
                        width: 40%;
                    }
                }
            }
            .delete-set {
                position: absolute;
                top: 0;
                right: 0;
                margin-top: 0.5rem;
                margin-right: 0.75rem;
            }
        }
    }
    .set-header {
        display: flex;
        background-color: rgb(49, 100, 100);
        border-radius: 10px 10px 0 0;
        border-bottom: 1px solid rgb(85, 137, 137);
        .header {
            width: 20%;
            padding: 0.75rem 0.5rem;
            font-size: 0.875rem;
            &:last-of-type {
                width: 40%;
            }
        }
    }
}